<div class="employee-container">
    <button>Add new employee</button>
    <div class="search-container">
        <label for="search-text">Find employee:</label>
        <input id="search-text" type="text" placeholder="Name of the employee" (input)="search($event)">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
        <tr>
            <td>
                <div *ngIf="employee.active === true; else inactive">
                    <img src="assets/images/active.png" alt="" height="20px" width="20px">
                </div>
                <ng-template #inactive>
                    <img src="assets/images/inactive.png" alt="" height="20px" width="20px">
                </ng-template> 
            </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.department }}</td>
            <td>
                <button>Edit</button>
                <button>Details</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>
</table>